// Fonts
$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 800;

// Text
$color-text-primary: #ffffff;
$color-text-secondary: #9c9c9c;

// Buttons
$color-bg-button-green: #3f8e00;
$color-text-button-green: #ffffff;

$color-bg-button-white: #ffffff;
$color-text-button-white: #000000;

// Input borders
$border-color-valid: #3f8e00;
$border-color-unvalid: #bd2426;
